@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}

.hero-img {
  background-image: url('../assets/hero-picture.jpg');
}

/* menu */
#menu-boton.open + ul {
  transition: all 250ms ease-in-out;
}

#menu-boton.open + ul {
  @apply absolute top-[64px] right-0 flex h-screen flex-col items-center gap-5 border-l border-natalia-gray-300 bg-white pt-6 text-center text-black opacity-100;
}

#menu-boton.open + ul > img {
  @apply hidden;
}

#menu-boton.open + ul > li {
  @apply flex w-full px-2;
}
#menu-boton.open + ul > li > a {
  @apply mx-auto w-full justify-center px-8 uppercase;
}
#menu-boton.open + ul > li:nth-last-child(1) > a {
  @apply rounded-md border-4 border-natalia-blue-400 px-4 py-1 font-bold text-natalia-blue-400 no-underline;
}

/* products card */
.product {
  @apply max-w-[70%] place-self-center border border-natalia-gray-300 p-4 sm:max-w-[12em] md:place-self-auto;
}

.product img {
  @apply object-cover p-2;
}

.product h3 {
  @apply relative pb-4 text-lg font-bold leading-none before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:bg-natalia-gray-300;
}

.product p {
  @apply pt-4 text-xs leading-relaxed text-natalia-gray-400;
}

.product div {
  @apply flex items-center pt-4 md:flex-col md:gap-2 xl:flex-row xl:gap-0;
}

.product div button {
  @apply ml-auto rounded-md bg-natalia-blue-400 px-3 py-2 text-xs font-black uppercase text-white md:ml-0 xl:ml-auto;
}

/* input */
.input {
  @apply rounded-md border border-black p-2;
}

/* input error */
.input-error {
  @apply mb-2 text-xs text-red-500;
}
