/* VARIABLES */

:root {
  --clr-white: #ffffff;
  --clr-gray: #484848;
  --clr-black: #000000;
  --clr-accent: #2653f1;
}

/* GLOBAL */
* {
  font-family: 'Be Vietnam Pro', sans-serif;
  color: var(--clr-black);
}

/* HEADER */
header a {
  display: flex;
  flex-shrink: 0;
}

header a > img {
  height: 43px;
}

/* MAIN */
form {
  display: flex;
  flex-flow: column;
}
form > h1 {
  text-align: center;
}

input ~ small {
  color: red;
}
