@tailwind base;
@tailwind components;

.cta {
  @apply transform bg-natalia-blue-400 px-5 py-2 font-bold uppercase text-white transition-all hover:scale-105 focus:scale-105 active:bg-natalia-blue-500;
}

.nav-item {
  @apply flex md:items-center;
}

.nav-link {
  @apply w-full py-3 px-6 hover:font-semibold hover:transform hover:scale-105 focus:font-semibold focus:transform focus:scale-105 transition-transform md:py-0 md:px-4 md:hover:scale-100 md:focus:scale-100;
}
.nav-link.accent {
  @apply uppercase font-bold text-white bg-natalia-blue-400 hover:bg-natalia-blue-500 hover:scale-100 focus:scale-100  transition-colors md:h-full md:items-center md:flex;
}

.cta.product {
  @apply px-3 py-2 text-xs;
}

.article-title {
  @apply relative w-max transform text-xl font-black uppercase tracking-wider 
  before:absolute before:-bottom-1 before:left-0 before:h-1 
  before:w-full before:origin-right before:scale-x-0 before:bg-natalia-blue-400
 before:transition-transform before:duration-300 hover:before:origin-left
  hover:before:scale-x-100 sm:text-2xl;
}

.hero {
  background-image: url('./../assets/hero-picture.jpg');
}

input {
  @apply border-gray-900;
}

@tailwind utilities;

.deco-horizontal {
  @apply before:absolute before:bottom-0 before:left-0 before:h-px before:w-full before:bg-gray-300;
}

ul[data-visible="false"] {
  @apply translate-x-full;
}

@media (min-width: 768px) {
  ul[data-visible="false"] {
    @apply translate-x-0 ;
  }
}

table {
  border-collapse: collapse;
}

th, tr, td{
  @apply border border-black p-2;
}

td > button {
  @apply px-3 py-1 border border-black;
}
