<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Natalia Viera - Home</title>

    <!-- estilos -->
    <link rel="stylesheet" href="../../css/tailwindcss.css" />
    <script src="https://use.fontawesome.com/2d65f67246.js"></script>

    <!-- scripts -->
    <script src="../../../controller/js/jquery.js" defer></script>
    <script
      src="../../../controller/js/administradores/delete-administradores.js"
      defer
    ></script>
  </head>
  <body class="text-gray-900">
    <section class="container mx-auto py-16">
      <h1 class="text-5xl font-black">
        Panel <span class="text-natalia-blue-400">Administradores</span>
      </h1>

      <!-- mostrar -->
      <article class="mt-4">
        <table class="w-full table-auto overflow-x-scroll">
          <thead class="bg-natalia-blue-400 uppercase text-white">
            <tr>
              <th>rol</th>
              <th>ci</th>
              <th>nombre</th>
              <th>apellido</th>
              <th>correo</th>
              <th>telefono</th>
              <th>borrar</th>
            </tr>
          </thead>
          <tbody id="tabla-administradores"></tbody>
        </table>
      </article>
    </section>
  </body>
</html>
