<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Natalia Viera - Home</title>

    <!-- estilos -->
    <link rel="stylesheet" href="../../css/tailwindcss.css" />
    <script src="https://use.fontawesome.com/2d65f67246.js"></script>

    <!-- scripts -->
    <script src="../../../controller/js/jquery.js" defer></script>
    <script
      src="../../../controller/js/administradores/edit-administradores.js"
      defer
    ></script>
  </head>
  <body class="text-gray-900">
    <section class="container mx-auto py-16">
      <h1 class="text-5xl font-black">
        Panel <span class="text-natalia-blue-400">Administradores</span>
      </h1>

      <article class="mt-4">
        <form
          id="edit-form"
          class="relative grid grid-cols-3 gap-2 border border-gray-300 py-6 px-6 pt-6"
        >
          <h2 class="py-2 text-4xl font-bold uppercase text-gray-300">
            Agregar
          </h2>

          <input type="hidden" class="hidden" id="edit-id" disabled />

          <!-- ci -->
          <div class="col-span-full hidden flex-col gap-2">
            <input type="hidden" id="edit-ci" required />
          </div>
          <!-- nombre -->
          <div class="col-span-full flex flex-col gap-2">
            <label for="edit-nombre">Nombre</label>
            <input type="text" id="edit-nombre" required />
          </div>
          <!-- apellido -->
          <div class="col-span-full flex flex-col gap-2">
            <label for="edit-apellido">apellido</label>
            <input type="text" id="edit-apellido" required />
          </div>
          <!-- correo -->
          <div class="col-span-full flex flex-col gap-2">
            <label for="edit-correo">correo</label>
            <input type="email" id="edit-correo" required />
          </div>
          <!-- telefono -->
          <div class="col-span-full flex flex-col gap-2">
            <label for="edit-telefono">telefono</label>
            <input type="number" id="edit-telefono" required />
          </div>
          <button
            type="submit"
            class="col-span-2 mt-12 bg-natalia-blue-400 py-2 text-lg font-bold uppercase text-white"
          >
            Aceptar
          </button>
          <button
            class="mt-12 border border-natalia-blue-400 bg-white py-2 text-lg font-bold uppercase text-natalia-blue-400"
            type="button"
          >
            Limpiar
          </button>
        </form>

        <p
          id="resultado"
          class="mt-12 text-lg font-bold uppercase text-green-700"
        ></p>
      </article>

      <!-- mostrar -->
      <article class="mt-4">
        <table class="w-full table-auto overflow-x-scroll">
          <thead class="bg-natalia-blue-400 uppercase text-white">
            <tr>
              <th>rol</th>
              <th>ci</th>
              <th>nombre</th>
              <th>apellido</th>
              <th>correo</th>
              <th>telefono</th>
              <th>editar</th>
            </tr>
          </thead>
          <tbody id="tabla-administradores"></tbody>
        </table>
      </article>
    </section>
  </body>
</html>
