<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/tailwindcss.css" />
  </head>
  <body>
    <a href="../home.html">Inicio</a>

    <h1 class="text-4xl font-black uppercase">Jefes</h1>

    <h2 class="mt-4 text-2xl font-bold">administradores</h2>
    <ul class="flex gap-4 bg-red-50">
      <li>
        <a href="../paneles/administradores/add-administradores.html">
          Añadir
        </a>
      </li>
      <li>
        <a href="../paneles/administradores/edit-administradores.html">
          Editar
        </a>
      </li>
      <li>
        <a href="../paneles/administradores/delete-administradores.html">
          Borrar
        </a>
      </li>
      <li>
        <a href="../paneles/administradores/list-administradores.html">
          Mostrar
        </a>
      </li>
    </ul>

    <h2 class="mt-4 text-2xl font-bold">productos</h2>
    <ul class="flex gap-4 bg-red-50">
      <li>
        <a href="../paneles/productos/add-productos.html"> Añadir </a>
      </li>
      <li>
        <a href="../paneles/productos/edit-productos.html"> Editar </a>
      </li>
      <li>
        <a href="../paneles/productos/delete-productos.html"> Borrar </a>
      </li>
      <li>
        <a href="../paneles/productos/list-productos.html"> Mostrar </a>
      </li>
    </ul>

    <h2 class="mt-4 text-2xl font-bold">proveedores</h2>
    <ul class="flex gap-4 bg-red-50">
      <li>
        <a href="../paneles/proveedores/add-proveedores.html"> Añadir </a>
      </li>
      <li>
        <a href="../paneles/proveedores/edit-proveedores.html"> Editar </a>
      </li>
      <li>
        <a href="../paneles/proveedores/delete-proveedores.html"> Borrar </a>
      </li>
      <li>
        <a href="../paneles/proveedores/list-proveedores.html"> Mostrar </a>
      </li>
    </ul>
  </body>
</html>
